<md-dialog aria-label="test">
  <form name="profileForm">
    <md-dialog-content>
        <div layout="row">
            <img class="md-whiteframe-z4 md-default-theme" id="profileAvatar" src="{{viewedProfileInfo.img_url}}" ng-click="openFacebook()"></img>
            <md-toolbar md-scroll-y class="md-whiteframe-z4" layout="row">
                <h1 id="profileDisplayName" layout-align="left" class="md-toolbar-tools">{{viewedProfileInfo.name}}</h1>
            </md-toolbar>
        </div>
        <div id="profile_dialog">
            <div layout="column" style="height:400px;">
                <md-tabs class="tabs-left" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
                    <md-tab id="tab1">
                        <md-tab-label>REVIEWS</md-tab-label>
                        <md-tab-body>
                          View for Item #1 <br/>
                          data.selectedIndex = 0;
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab2">
                        <md-tab-label>RIDES</md-tab-label>
                        <md-tab-body>
                          View for Item #2 <br/>
                          data.selectedIndex = 1;
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab3">
                        <md-tab-label>VEHICLES</md-tab-label>
                        <md-tab-body>
                          View for Item #3 <br/>
                          data.selectedIndex = 2;
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>
