<md-dialog aria-label="test">
  <form name="profileForm" ng-controller="profileCtrl">
    <md-dialog-content>
        <div layout="row">
            <img class="md-whiteframe-z4 md-default-theme profileAvatar" src="{{viewedProfileInfo.img_url}}" ng-click="openFacebook(viewedProfileInfo.$id)"></img>
            <md-toolbar md-scroll-y class="md-whiteframe-z4" layout="row">
                <h1 id="profileDisplayName" layout-align="left" class="md-toolbar-tools">{{viewedProfileInfo.name}}</h1>
            </md-toolbar>
        </div>
        <div id="profile_dialog">
            <div layout="column" style="height:400px;">
                <md-tabs id="review_tabs" class="tabs-left" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
                    <md-tab id="tab1">
                        <md-tab-label>REVIEWS</md-tab-label>
                        <md-tab-body>
                            <div layout="row" style="padding:10px 0px;">


                                <div layout="column" flex="15">
                                    <h5 style="margin:2px; font-weight: normal;">{{viewedProfileInfo.name}}</h5>
                                </div>
                                <div layout="column" flex="85">
                                    <h4 style="margin:0px;"><b>COMPREHENSIVE RATING</b></h4>
                                    <h5 style="margin:1px;"><b>DRIVER ABILITY</b> {{avg.driver_ability}}</h5>
                                    <h5 style="margin:1px;"><b>COMFORT</b> {{avg.comfort}}</h5>
                                    <h5 style="margin:1px;"><b>PRICE FAIRNESS</b> {{avg.price_fairness}}</h5>
                                    <h5 style="margin:1px;"><b>OVERALL</b> {{avg.overall}}</h5>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <md-list>
                                <md-list-item style="padding:10px 0px;" ng-repeat="review in profileReviews" class="profile_reviews" layout="row" layout-align="start start" flex>
                                        <div layout="column" flex="15">
                                            <img ng-src="{{review.img_url}}" class="md-avatar review_avatar" />
                                            <h5 style="margin:2px; font-weight: normal;">{{review.name}}</h5>
                                        </div>
                                        <div layout="column" flex="85">
                                            <h5 style="margin:0px;"><b>DRIVER ABILITY</b> {{review.driver_ability}}</h5>
                                            <h5 style="margin:1px;"><b>COMFORT</b> {{review.comfort}}</h5>
                                            <h5 style="margin:1px;"><b>PRICE FAIRNESS</b> {{review.price_fairness}}</h5>
                                            <h5 style="margin:1px;"><b>OVERALL</b> {{review.overall}}</h5>
                                            <md-input-container>
                                                <textarea disabled ng-model="review.comment"></textarea>
                                            </md-input-container>
                                        </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                            </md-tab-body>
                    </md-tab>
                    <md-tab id="tab2">
                        <md-tab-label>RIDES</md-tab-label>
                        <md-tab-body>
                            <md-list>
                                <md-list-item ng-repeat="trip in profileTrips">
                                    <div layout="row">
                                        <div layout="column">
                                            <h4 style="margin:2px;">{{trip.comment}}</h4>
                                            <h5 style="margin:2px;"><b>DEPARTING</b> {{trip.start_time}}</h5>
                                            <h5 style="margin:2px;"><b>FROM</b> {{trip.from}}</h5>
                                            <h5 style="margin:2px;"><b>TO</b> {{trip.to}}</h5>
                                        </div>
                                    </div>

                                    <md-divider></md-divider>

                                </md-list-item>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab3">
                        <md-tab-label>VEHICLES</md-tab-label>
                        <md-tab-body>
                            <md-list>
                                <md-list-item ng-repeat="vehicle in profileVehicles">
                                    <div layout="row" flex>
                                        <div layout="column" flex="80">

                                            <h4 style="margin:2px;">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h4>
                                            <h5 style="margin:2px;"><b>COLOR</b> {{vehicle.color}}</h5>
                                            <h5 style="margin:2px;"><b>MPG</b> {{vehicle.mpg}}</h5>
                                            <h5 style="margin:2px;"><b>SEATS</b> {{vehicle.seats}}</h5>
                                        </div>
                                        <div layout="column" layout-align="start right" flex="20">

                                            <md-button class="md-accent md-accent-closed" ng-show="isPersonalProfile" ng-click="deleteVehicle(vehicle.$id)">Delete</md-button>
                                        </div>
                                    </div>
                                    <md-divider></md-divider>

                                </md-list-item>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>
