<div id="homePage" layout="column" ng-controller="profileCtrl">

  <md-toolbar md-scroll-y class="md-whiteframe-z4" layout="row">
      <h1 layout-align="left" class="md-toolbar-tools"><b>PROFILE</b></h1>
      <md-button ng-click="viewDashboard()">DASHBOARD</md-button>
      <md-button ng-click="logout()">LOGOUT</md-button>
  </md-toolbar>
    
    
    <md-content class="md-padding">
    <div class="section" id="dashboard-start" layout="row" layout-align="center center">
        <div id="outer-wrapper" flex="60" layout="row" layout-fill layout-align="center center">

            <div flex="20">
                <img src="{{getUserData().facebook.profileImageURL}}"></img>
            </div>
            <div flex="60">
                <md-input-container>
                    <input type="text">{{getUserData().facebook.cachedUserProfile.first_name}}</input>

                    <label>{{getUserData().facebook.cachedUserProfile.gender}}</label>
                    <md-button ng-click="openFacebook()" class="login-with-facebook">Facebook</md-button>

                </md-input-container>
            </div>
        </div>
    </div>
    </md-content>
</div>
        
    <!--
        <md-tabs id="profileMenu" class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <md-tab id="tab1">
        <md-tab-label>Current Rides Posted</md-tab-label>
        <md-tab-body>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Reviews</md-tab-label>
        <md-tab-body>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Vehicle Information</md-tab-label>
        <md-tab-body>

        </md-tab-body>
      </md-tab>
    </md-tabs>
  

        </div>

    </div>
</md-content>
  
</div>
-->
