<md-content layout="row" flex class="md-padding" id="home-content">
  <div class="section find_a_ride" id="dashboard-start" layout="column" layout-align="center top">

    <div layout="row" layout-align="center">
      <div layout="column" layout-align="top" flex="55" style="overflow-y: auto;">
        <div layout="row">
        <md-card flex="100">
          <md-card-content id="find-ride-form">
            <form>
              <div layout-gt-sm="row" layout="column">
                <div layout-gt-sm="column" flex-gt-sm="33" layout="row" layout-align="center">
                    <md-input-container id="find-ride-form">
                      <label>Starting City</label>
                      <input type="text" ng-model="starting.city">
                    </md-input-container>
                    <md-input-container id="find-ride-form">
                      <md-select aria-label="state" ng-model="starting.state" placeholder="Starting State">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>
                    </md-input-container>
                    <md-input-container id="find-ride-form">
                    <md-select aria-label="vehicle" ng-model="car.vehicle" placeholder="Vehicle">
                      <md-option ng-repeat="vehicle in vehicle" value="">{{state.abbrev}}</md-option>

                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-sm="column" flex-gt-sm="33" layout="row" layout-align="center">
                  <md-input-container id="find-ride-form">
                    <label>Ending City</label>
                    <input type="text" ng-model="ending.city">
                  </md-input-container>
                  <md-input-container id="find-ride-form">
                    <md-select aria-label="state" ng-model="ending.state" placeholder="Ending State">
                      <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>
                  </md-input-container>
                  <md-input-container id="find-ride-form">
                    <md-select aria-label="seats" ng-model="car.seats" placeholder="Seats">
                      <md-option value="1">1</md-option>
                      <md-option value="2">2</md-option>
                      <md-option value="3">3</md-option>
                      <md-option value="4">4</md-option>
                      <md-option value="5">5</md-option>
                      <md-option value="6">6</md-option>
                      <md-option value="7">7</md-option>
                      <md-option value="8">8</md-option>
                      <md-option value="9">9</md-option>
                      <md-option value="10">10</md-option>
                      <md-option value="11">11</md-option>
                      <md-option value="12">12</md-option>
                      <md-option value="13">13</md-option>
                      <md-option value="14">14</md-option>
                      <md-option value="15">15</md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-sm="column" layout="row" flex-gt-sm="33" layout-align="center">
                  <md-input-container id="find-ride-form" style="max-height: 171px;">
                    <label>Date: </label>
                    <input type="date" ng-model="departure.date">
                  </md-input-container>
                  <md-input-container id="find-ride-form" style="max-height: 171px;">
                    <label>Time: </label>
                    <input type="time" ng-model="departure.time">
                  </md-input-container>
                </div>
            </div>
            <md-input-container id="find-ride-form">
              <label>Description</label>
              <textarea ng-model="post.description" md-maxlength="250" maxlength="250"></textarea>
            </md-input-container>
              <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-accent md-raised" ng-click="setPrice();">Set Price</md-button>
              </div>

            </form>
          </md-card-content>
        </md-card>
        </div>

        <div id="ride-list-container">
          <md-list>

                <p id="error1" style="color:#d9534f"></p>
                <p id="error2" style="color:#d9534f"></p>
                <p id="error3" style="color:#d9534f"></p>
                <p id="error4" style="color:#d9534f"></p>
                <p id="error5" style="color:#d9534f"></p>
                <p id="error6" style="color:#d9534f"></p>
                <p id="error7" style="color:#d9534f"></p>
                <p id="error8" style="color:#d9534f"></p>

          </md-list>
        </div>



      </div>
    <div hide show-gt-md layout="column" flex="45" layout-align="top">
      <div id="map" flex="100" data-ng-init="printUSA()"></div>
    </div>
  </div>
</md-content>
