<md-content layout="row" flex class="md-padding" id="home-content" data-ng-init="initPostRide()">
  <div class="section find_a_ride" id="dashboard-start" layout="column" layout-align="center top">

    <div layout="row" layout-align="center">
      <div layout="column" layout-align="top" flex="55" style="overflow-y: auto;">
        <div layout="row">
        <md-card flex="100">
          <md-card-content id="find-ride-form">
            <form>
              <div layout-gt-sm="row" layout="column">
                <div layout-gt-sm="column" flex-gt-sm="33" layout="row" layout-align="center">
                    <md-input-container id="find-ride-form">
                      <label>STARTING CITY</label>
                      <input type="text" ng-model="starting.city">
                    </md-input-container>
                    <md-input-container id="find-ride-form">
                      <md-select aria-label="state" ng-model="starting.state" placeholder="STARTING STATE">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>
                    </md-input-container>
                    <md-input-container id="find-ride-form">
                    <md-select aria-label="vehicle" ng-model="car.vehicle" placeholder="VEHICLE" ng-change="selectPostVehicle()">
                      <md-option ng-repeat="vehicle in vehicles" value="{{vehicle.$id}}">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</md-option>

                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-sm="column" flex-gt-sm="33" layout="row" layout-align="center">
                  <md-input-container id="find-ride-form">
                    <label>ENDING CITY</label>
                    <input type="text" ng-model="ending.city">
                  </md-input-container>
                  <md-input-container id="find-ride-form">
                    <md-select aria-label="state" ng-model="ending.state" placeholder="ENDING STATE">
                      <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>
                  </md-input-container>
                  <md-input-container id="find-ride-form">
                    <md-select aria-label="seats" ng-model="car.seats" placeholder="SEATS">
                      <md-option value="1">1</md-option>
                      <md-option value="2" ng-hide="2 > selectedVehicle.seats">2</md-option>
                      <md-option value="3" ng-hide="3 > selectedVehicle.seats">3</md-option>
                      <md-option value="4" ng-hide="4 > selectedVehicle.seats">4</md-option>
                      <md-option value="5" ng-hide="5 > selectedVehicle.seats">5</md-option>
                      <md-option value="6" ng-hide="6 > selectedVehicle.seats">6</md-option>
                      <md-option value="7" ng-hide="7 > selectedVehicle.seats">7</md-option>
                      <md-option value="8" ng-hide="8 > selectedVehicle.seats">8</md-option>
                      <md-option value="9" ng-hide="9 > selectedVehicle.seats">9</md-option>
                      <md-option value="10" ng-hide="10 > selectedVehicle.seats">10</md-option>
                      <md-option value="11" ng-hide="11 > selectedVehicle.seats">11</md-option>
                      <md-option value="12" ng-hide="12 > selectedVehicle.seats">12</md-option>
                      <md-option value="13" ng-hide="13 > selectedVehicle.seats">13</md-option>
                      <md-option value="14" ng-hide="14 > selectedVehicle.seats">14</md-option>
                      <md-option value="15" ng-hide="15 > selectedVehicle.seats">15</md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-sm="column" layout="row" flex-gt-sm="33" layout-align="center">
                  <md-input-container id="find-ride-form" style="max-height: 171px;">
                    <label>DATE</label>
                    <input type="date" ng-model="departure.date">
                  </md-input-container>
                  <md-input-container id="find-ride-form" style="max-height: 171px;">
                    <label>TIME</label>
                    <input type="time" ng-model="departure.time">
                  </md-input-container>
                </div>
            </div>
            <md-input-container id="find-ride-form">
              <label>DESCRIPTION</label>
              <textarea ng-model="post.description" md-maxlength="150" maxlength="150"></textarea>
            </md-input-container>
              <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-accent md-raised" ng-click="setPrice(); ">Set Price</md-button>
              </div>

            </form>
          </md-card-content>
        </md-card>
        </div>

        <div id="ride-list-container">
          <md-list>

                <p id="error1" style="color:#d9534f"></p>
                <p id="error2" style="color:#d9534f"></p>
                <p id="error3" style="color:#d9534f"></p>
                <p id="error4" style="color:#d9534f"></p>
                <p id="error5" style="color:#d9534f"></p>
                <p id="error6" style="color:#d9534f"></p>
                <p id="error7" style="color:#d9534f"></p>
                <p id="error8" style="color:#d9534f"></p>

          </md-list>
        </div>



      </div>
    <div hide show-gt-md layout="column" flex="45" layout-align="top">
      <div id="map" flex="100" data-ng-init="printUSA()"></div>
    </div>
  </div>
</md-content>
