<md-content layout="row" layout-align="center center" flex class="md-padding" id="home-content">
  <div class="section" id="dashboard-start" layout-align="center">
    <div layout-align="center">
          <form layout="row" layout-align="center left" layout-wrap>
            <div ng-repeat="seat in seats" flex-gt-sm="33" flex-sm="50">
              <div>
                <seat-info></seat-info>
              </div>
            </div>
            <md-icon class="seat-button" ng-show="seats.length < seatLimit" ng-click="addSeat(seats.length)"
                  md-svg-src="/assets/img/add_icon.svg" flex-gt-sm="33" flex-sm="50"></md-icon>
            <div flex></div>
          </form>
    </div>
</md-content>
