@font-face {
  font-family: ProximaNova-Regular;
  src: url(../libs/ProximaNova-Regular.ttf);
}

#signup-title{
  text-shadow: 2px 2px 3px #404040, -2px -2px 3px #404040;
}

div{
  font-family: ProximaNova-Regular;
}





.md-avatar{
    border-radius: 2px;
/*    border: 1px solid #ddd;*/
    display: inline-block;
    margin: 4px 16px;
    width: 54px;
    height: 54px;
}

.md-avatar-queue{
    border-radius: 2px;
/*    border: 1px solid #ddd;*/
    display: block;
    max-width: 90%;
    height: 60px;
    margin-top: 2px;
}

.md-avatar-grid {
    border-radius: 2px;
/*    border: 1px solid #ddd;*/
    display: block;
    width: 30px;
    height: 30px;
    margin: 2px; 2px;
    
}

#map {
  margin: 5px;
  padding: 5px;
  max-height: 100%;
}

.inner{
  flex: 0 1 auto;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: rgba(255,255,255,0);
}

.content-wrapper {
  position: relative;
}

md-content.md-padding {
    margin: 0px;
    padding: 0px;
}

.section{
  box-sizing: border-box;
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  width: 100%;
  padding: 0px 20px 0px 20px;
}

#form{
  background-color: rgba(233,233,233,0.83);
  padding: 10px;
}

.list-text{
  word-wrap: break-word;
  padding-right: 10px;
}

md-list-item.md-2-line .md-list-item-text h4, md-list-item.md-2-line>.md-no-style .md-list-item-text h4, md-list-item.md-3-line .md-list-item-text h4, md-list-item.md-3-line>.md-no-style .md-list-item-text h4 {
  line-height: 1.1em;
}





#find-ride-form{
  background-color: rgba(233,233,233,0.83);
  padding: 0px 16px 0px 16px;
}

.fit{
  max-width: 100%;
  max-height: 100%;
}

.card-title{
  text-align: center;
  margin: 0px;
  color: white;
  font-size: 30px;
}

.dashboard-button a{
  display: block;
  width: 250px;
  height: 225px;
  padding: 25px;
  text-decoration: none;
  color: rgb(237,237,237);
}

md-icon.md-default-theme{
  color: black;
}

.dashboard-icon{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0);
  padding: 25px;
  border-radius: 50%;
}

.dashboard-button{
    width: 200px;
    height: 200px;

    border-radius: 2px;
    box-shadow: -3px 2px 1px 0px
    rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    text-align:center;

    background-color: rgba(19,22,25,.88);

    color: white;
    cursor: pointer;
}

#dashboard-start{
  background-color: #EEEEEE;
  overflow: auto;
    padding: 0px 0px 0px 0px;
}


.md-button.md-default-theme.login-with-facebook{
  background-color: #3b5998;
  color: white;
  border-radius: 20px;

}

.md-button.md-default-theme.login-with-facebook:hover{
  background-color: #3b5998;
  color: white;
  border-radius: 20px;

}

.md-button.md-default-theme.login-with-facebook:focus{
  background-color: #3b5998;
  color: white;
  border-radius: 20px;

}

.seat-button{
  outline: 0;
}

.exit-button-wrapper{
  display: inline-block;
  border-radius: 5%;
}

#home-section{
  background: url("../img/city_street_background.png") no-repeat center center fixed;
  background-size: 100% auto;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

#outer-wrapper{
  overflow: auto !important;
}

#facebook-button {
    background-color: #3B5998;
    color: white;
}

#hitch_button {
    font-size: 20px;
    cursor: pointer;
}

.profilePicture{
    vertical-align: middle;
    position: relative;
    top: 6;
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

.profileAvatar {
    vertical-align: middle;
    position: relative;
    height: 64px;
    width: 64px;
    margin-right: 10px;

}


#profile_dialog {
    width: 550px;
}

.template_dialog {
    width: 400px;
}

#post_ride_dialog {
    width: 250px;
}

h5 {
    font-weight: normal;
}

#hitch_home {
    font-weight: normal;
}

#profileDisplayName {
    text-transform: uppercase;
}

#ride_queue_header {
    background-color: rgba(0,0,0,.45);
}

md-list.md-default-theme {
    padding-top: 0px;
}

/*md-list-item .md-no-style, md-list-item.md-no-proxy {*/
.found_rides {
    padding: 3px 16px;
    margin-bottom: 8px;
    margin-left: 8px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

}

/*
md-list-item.md-2-line .md-list-item-text, md-list-item.md-2-line>.md-no-style .md-list-item-text {
    padding-top: 5px;
}
*/


.section.dashboard_home {
    background: url("../img/blurryLightsCarO75.jpg") no-repeat center center fixed;
    background-size: 100% auto;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.section.find_a_ride {
    background: url("../img/tiny_grid.png") repeat center center fixed;   
}

.driver_name {
    text-transform: uppercase;
}

md-sidenav {
    background-color: rgba(236,236,236,.85);
}

md-toolbar {
    background-color: yellow;
}

.md-avatar.review_avatar {
    margin: 0px 0px;


}

.md-avatar-find {
    border-radius: 2px;
    display: inline-block;
    margin: 4px;
    width: 80%;
    height: 75px;
}

.md-avatar-review {
    border-radius: 2px;
    display: inline-block;
    margin: 5px 0px;
    width: 75px;
    height: 75px;
}

.md-profile-button {
    margin: 1px;
    font-size: 8px;
    height: 25px;
    width: 100%;
    background-color: transparent;
}

#review_tabs {
    height: 400px;
}



.md-accent-closed {
    text-align: right;
    margin: 0px 0px;
}

#dashboard-home-grid {
    background-color: rgba(255,255,255,.73);
}

#dashboard_button_1 {
    margin: 15px 7.5px 15px 15px;
}
#dashboard_button_2 {
    margin: 15px 7.5px 15px 7.5px;
}
#dashboard_button_3 {
    margin: 15px 15px 15px 7.5px;

}


#loading-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#loading-circle{
  position: relative;
  margin: 0 auto;
}
