@font-face {
  font-family: ProximaNova-Regular;
  src: url(../libs/ProximaNova-Regular.ttf);
}

#signup-title{
  text-shadow: 2px 2px 3px #404040, -2px -2px 3px #404040;
}

div{
  font-family: ProximaNova-Regular;
}

#ride-list-container{
  margin: 5px;
  padding: 5px;
  max-height: 65%;
  overflow-y: scroll;
}

.md-avatar{
  border-radius: 30px;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 4px 16px;
  width: 48px;
  height: 48px;
}

#map {
  margin: 5px;
  padding: 5px;
  max-height: 100%;
}

.inner{
  flex: 0 1 auto;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: rgba(255,255,255,0);
}

.content-wrapper {
  position: relative;
}

md-content.md-padding {
    margin: 0px;
    padding: 0px;
}

.section{
  box-sizing: border-box;
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  width: 100%;
  padding: 0px 20px 0px 20px;
}

#form{
  background-color: rgba(233,233,233,0.83);
  padding: 10px;
}

.list-text{
  word-wrap: break-word;
  padding-right: 10px;
}

#find-ride-form{
  background-color: rgba(233,233,233,0.83);
  padding: 0px 16px 0px 16px;
}

.fit{
  max-width: 100%;
  max-height: 100%;
}

.card-title{
  text-align: center;
  margin: 0px;
  color: white;
  font-size: 30px;
}

.dashboard-button a{
  display: block;
  width: 250px;
  height: 225px;
  padding: 25px;
  text-decoration: none;
  color: white;
}

md-icon.md-default-theme{
  color: black;
}

.dashboard-icon{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0);
  padding: 25px;
  border-radius: 50%;
}

.dashboard-button{
  width: 200px;
  height: 175px;
  margin: 0px 25px 25px 25px;
  border-radius: 5px;
  box-shadow: -3px 2px 1px 0px
  rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  text-align:center;
  background-color: rgb(1,87,155);
  color: white;
  cursor: pointer;
}

#dashboard-start{
  background-color: #EEEEEE;
  overflow: auto;
}

.md-button.md-default-theme.login-with-facebook{
  background-color: #3b5998;
  color: white;
  border-radius: 20px;

}

.md-button.md-default-theme.login-with-facebook:hover{
  background-color: #3b5998;
  color: white;
  border-radius: 20px;

}

.md-button.md-default-theme.login-with-facebook:focus{
  background-color: #3b5998;
  color: white;
  border-radius: 20px;

}

.seat-button{
  outline: 0;
}

.exit-button-wrapper{
  display: inline-block;
  border-radius: 5%;
}

#home-section{
  background: url("../img/city.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

#outer-wrapper{
  overflow: auto !important;
}

#facebook-button {
    background-color: #3B5998;
    color: white;
}

.hitch_button {
    font-size: 20px;
}

.profilePicture{
    vertical-align: middle;
    position: relative;
    top: 6;
    height: 50px;
    width: 50px;
}

#profileAvatar {
    vertical-align: middle;
    position: relative;
    height: 64px;
    width: 64px;
    margin-right: 10px;

}

.dialogColumns {
    margin: 15px;
}

#profile_dialog {
    width: 650px;
}

#review_dialog {
    width: 400px;

}

.sidenav_btn {
    text-align: left;
    margin: 0px 0px;
}

#profileDisplayName {
    text-transform: uppercase;
}
