<md-content layout="row" flex class="md-padding" id="home-content">
  <div class="section find_a_ride" id="dashboard-start" layout="column" layout-align="center top">

    <div layout="row" layout-align="center">
      <div layout="column" layout-align="top" flex-gt-md="55" flex="100">
        <div layout="row">
        <md-card flex="100">
          <md-card-content id="find-ride-form">
            <form>
              <div layout-gt-sm="row" layout="column">
                <div layout-gt-sm="column" flex-gt-sm="33" layout="row" layout-align="center">
                    <md-input-container id="find-ride-form">
                      <label>Starting City</label>
                      <input type="text" ng-model="starting.city">
                    </md-input-container>
                    <md-input-container id="find-ride-form">
                      <md-select aria-label="state" ng-model="starting.state" placeholder="Starting State">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>

                    </md-input-container>
                </div>

                <div layout-gt-sm="column" flex-gt-sm="33" layout="row" layout-align="center">
                  <md-input-container id="find-ride-form">
                    <label>Ending City</label>
                    <input type="text" ng-model="ending.city">
                  </md-input-container>
                  <md-input-container id="find-ride-form">
                    <md-select aria-label="state" ng-model="ending.state" placeholder="Ending State">
                      <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-sm="column" layout="row" flex-gt-sm="33" layout-align="center">
                  <md-input-container id="find-ride-form" style="max-height: 171px;">
                    <label>Date: </label>
                    <input type="date" ng-model="search.date">
                  </md-input-container>
                </div>
            </div>
              <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-accent md-raised" ng-click="findRides()">Search</md-button>
              </div>
            </form>
          </md-card-content>
        </md-card>
        </div>

        <div layout="row" id = "ride-list-container" flex>
          <md-list flex="100">
            <md-list-item class="md-2-line" ng-repeat="ride in rides" ng-cloak>
                <div layout="row" layout-align="right" flex="100">
                    <div layout="column" flex="15">
                        <img ng-click="showProfile($event, ride.user)" ng-src="{{ride.img_url}}" class="md-avatar-find"/>
                    </div>
                    <div class="md-list-item-text" layout-align="left" layout="column" flex="70">
                        <h3 style="margin:1px; font-weight:bold;" id="profileDisplayName">{{ride.name}}</h3>
                        <h4 style="margin:1px;">SEATS: {{ride.seats_left}}</h4>
                        <h4 style="margin:1px;">PRICE: ${{ride.seat_price}}</h4>
                        <h4 style="margin:1px;">DATE: {{ride.start_time}}</h4>
                        <h4 style="margin:1px;" class="list-text">{{ride.comment}}</h4>
                    </div>
                    <div layout="column" flex="15">
                      <md-button class="md-accent md-raised" ng-click="showPayment($event, ride, $index)">
                        Buy Seat
                      </md-button>
                    </div>
                </div>
              <md-divider></md-divider>
            </md-list-item>
              <div layout="row" layout-align="left" ng-show="!rides.length" flex="100" >
                <p id="search" style="color:#d9534f"></p>
                <p id="error1" style="color:#d9534f"></p>
                <p id="error2" style="color:#d9534f"></p>
                <p id="error3" style="color:#d9534f"></p>
                <p id="error4" style="color:#d9534f"></p>
                <p id="error5" style="color:#d9534f"></p>
              </div>
          </md-list>
        </div>

      </div>
    <div hide show-gt-md layout="column" flex="45" layout-align="top">
      <div id="map" flex="100" data-ng-init="printUSA()"></div>
    </div>
  </div>
</md-content>
