<md-dialog aria-label="test">
    <form name="vehicleForm">
        <md-dialog-content>
            <md-toolbar md-scroll-y class="md-whiteframe-z4" layout="row">
                <h1 id="profileDisplayName" layout-align="left" class="md-toolbar-tools">ADD A VEHICLE</h1>
            </md-toolbar>
            
             <div class="template_dialog">

                <div layout="column" style="height:450px;">
                    <section layout="column" flex>
                        
                        <md-select placeholder="MAKE" aria-label="make" ng-model="newVehicle.make">
                            <md-option ng-repeat="option in makeOptions" value="{{option}}">{{option}}</md-option>
                        </md-select>
                        <md-input-container>
                            <label>MODEL</label>
                            <input type="text" ng-model="newVehicle.model"/>
                        </md-input-container>
                        <md-input-container>
                            <label>YEAR</label>
                            <input type="number" maxlength="4" minlength="4" ng-model="newVehicle.year" />
                        </md-input-container>
                        <md-input-container>
                            <label>COLOR</label>
                            <input type="text" ng-model="newVehicle.color" />
                        </md-input-container>
                        <md-input-container>
                            <label>MPG</label>
                            <input type="number" ng-model="newVehicle.mpg" />
                        </md-input-container>
                        <md-input-container>
                            <label>SEATS</label>
                            <input type="number" ng-model="newVehicle.seats" />
                        </md-input-container>
                        
                    <md-button class="md-accent" ng-click="saveVehicle()">SAVE</md-button>

                    </section>

                </div>
                </div>
            
        </md-dialog-content>
    </form>
</md-dialog>