<!-- This is the home page (obvi) -->
<div id="homePage" ng-controller="HomeCtrl">
  <md-toolbar md-scroll-y class="md-whiteframe-z4" layout="row">
     
      <h1 id="hitch_home" layout-align-gt-sm="left" class="md-toolbar-tools">HITCH</h1>
      
      <md-button ng-controller="LoginCtrl" ng-click="loginWithFacebook()" flex>LOGIN</md-button>
  </md-toolbar>
  <div id="outer-wrapper"> 
      <md-content layout="column" layout-align="center center" flex class="md-padding" id="home-content">

        <div class="section" id="home-section" hide-gt-sm layout="row" layout-align="center center">
          <div layout="column" flex="60" hide-gt-sm layout="row" layout-align="center">
            <img src="/assets/img/hitch_car_logo.png" height="200px" width="400px" style="object-fit: contain;">
          </div>
            
        </div>

        <div class="section" id="home-section" hide-sm layout="row" layout-align="center center">
              <img src="/assets/img/hitch_car_logo.png" height="400px" width="1000px" style="object-fit: contain;">
        </div>
        
      </md-content>
  </div>
</div>
