<md-content layout="row" layout-align="center center" flex class="md-padding" id="home-content" data-ng-init="retrievePassengerTripData()">
    <div class="section dashboard_home" id="dashboard-start" layout="row" layout-align="left center">


    <md-sidenav flex="18" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <div layout="column" layout-align="top">
          <md-list style="y-overflow: auto;">
            <md-toolbar md-scroll-y class="md-whiteframe-z4" id="ride_queue_header">
                <h1 layout-align="left" class="md-toolbar-tools">UPCOMING TRIPS</h1>
            </md-toolbar>
              
            <h4 style="margin:8px 0px 8px 16px;" layout-align="left">RIDES AS DRIVER</h4>
            <md-divider></md-divider>
            <md-list-item class="md-2-line" ng-repeat="trip in driverTripData | orderBy:'time_num'">
              <div layout="column" style="margin: 4px 0px;">
                
                <div layout="row" >
                    <div layout="column">
              
                        <h5 style="margin:0px;" ><b>FROM </b>{{trip.from}} <b>TO</b> {{trip.to}}</b></h5>  
                        <h5 style="margin:0px;"><b>DEPARTING</b> {{trip.start_time}}</h5>
                  <h5 style="margin:0px;"><b>SEATS LEFT</b> {{trip.seats}}</h5>
                    </div>
                </div>
                <div style="flex-flow: row wrap;" layout="row">
                    <img ng-repeat="passenger in trip.passengers" ng-click="showProfile($event, passenger.$id)" ng-src="{{passenger.img_url}}" class="md-avatar-grid"/>
                </div>                
              </div>
              <md-divider></md-divider>
              </md-list-item>
              
            <h4 layout-align="left" style="margin:8px 0px 8px 16px;">RIDES AS PASSENGER</h4>
            <md-divider></md-divider>
            <md-list-item class="md-2-line" ng-repeat="trip in tripData | orderBy:'time_num'">
              <div layout="row" flex style="margin: 4px 0px;">
                <div layout="column" flex="25">
                  <img ng-click="showProfile($event, trip.user)" ng-src="{{trip.img_url}}" class="md-avatar-queue" />
                </div>
                <div layout="column" flex="75">
                    <h5 style="margin:0px;"><b>DRIVER</b> {{trip.name}}</h5>
                    <h5 style="margin:0px;"><b>FROM </b>{{trip.from}}</h5>
                    <h5 style="margin:0px;"><b>TO </b>{{trip.to}}</h5>
                    <h5 style="margin:0px;"><b>DEPARTING</b> {{trip.start_time}}</h5>
                    
                  <md-button ng-click="showReviewForm($event, trip.user, trip.passenger_trip_id)" ng-hide="trip.is_reviewed || trip.time_num > now" class="md-accent md-raised">Review</md-button>
                </div>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </div>
    </md-sidenav>

    <div layout="column" id="dashboard_background" flex="82" layout-align="center center" hide show-gt-sm >
      <div id="dashboard-home-grid" layout="row">
            <div ng-click="showVehicleForm($event)" id="dashboard_button_1" class="dashboard-button">
                <h3>ADD A VEHICLE</h3>
            </div>
            <div class="dashboard-button" id="dashboard_button_2" ui-sref="^.find">
              <h3>FIND A RIDE</h3>
            </div>
            <div class="dashboard-button" id="dashboard_button_3" ui-sref="^.post.info">
                <h3>POST A RIDE</h3>
            </div>
        </div>

    </div>
    
    <div layout="row" id="dashboard_background" flex="82" layout-align="center center" hide-gt-sm>
      <div id="dashboard-home-grid" layout="column">
            <div ng-click="showVehicleForm($event)" id="dashboard_button_1_gt" class="dashboard-button">
                <h3>ADD A VEHICLE</h3>
            </div>
            <div class="dashboard-button" id="dashboard_button_2_gt" ui-sref="^.find">
              <h3>FIND A RIDE</h3>
            </div>
            <div class="dashboard-button" id="dashboard_button_3_gt" ui-sref="^.post.info">
                <h3>POST A RIDE</h3>
            </div>
        </div>

    </div>


  </div>

</md-content>
