<md-content layout="row" layout-align="center center" flex class="md-padding" id="home-content">
  <div class="section" id="dashboard-start" layout="row" layout-align="center center">
    <div layout="column" layout-align="center center" >
      <div id="dashboard-home-grid" layout="row">
        <div class="dashboard-button">
            <a ui-sref="^.find">
              <h3>FIND A RIDE</h3>
            </a>
        </div>
        <div class="dashboard-button md-accent">
          <a ui-sref="^.give.info">
            <h3>POST A RIDE</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</md-content>
