<md-content layout="row" flex class="md-padding" id="home-content">
  <div class="section" id="dashboard-start" layout="column" layout-align="center top">

    <div layout="row" layout-align="center">
      <div layout="column" layout-align="top" style="overflow-y: auto;">
        <div layout="row">
        <md-card flex="100" >
          <md-card-content id="find-ride-form">
            <form>
              <div layout-gt-md="row" layout="column">
                <div layout-gt-md="column" flex-gt-md="33" layout="row">
                    <md-input-container id="find-ride-form">
                      <label>Starting City</label>
                      <input type="text" ng-model="starting.city">
                    </md-input-container>
                    <md-input-container id="find-ride-form">
                      <!--<label>Starting State</label>-->
                      <md-select aria-label="state" ng-model="starting.state">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-md="column" flex-gt-md="33" layout="row">
                  <md-input-container id="find-ride-form">
                    <label>Ending City</label>
                    <input type="text" ng-model="ending.city">
                  </md-input-container>
                  <md-input-container id="find-ride-form">
                    <!--<label>State</label>-->
                    <md-select aria-label="state" ng-model="ending.state">
                      <md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>

                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-md="column" layout="row" flex-gt-md="33" layout-align="center center">
                  <md-input-container id="find-ride-form" style="max-height: 171px;">
                    <label>Date: </label>
                    <input type="date" ng-model="departureDate">
                  </md-input-container>
                </div>
            </div>
              <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-accent md-raised" ng-click="findRides()">Search</md-button>
              </div>
            </form>
          </md-card-content>
        </md-card>
        </div>

        <div id="ride-list-container" flex="100">
          <md-list>
            <!--<md-subheader>Rides! :D</md-subheader>-->
            <md-list-item class="md-2-line" ng-repeat="ride in rides">
              <div class="md-list-item-text" layout="column">
                <h3>{{ride.driver}}</h3>
                <h4>{{ride.description}}</h4>
              </div>
            </md-list-item>
          </md-list>
        </div>

      </div>
    <div layout-gt-md="column" flex-gt-md="40" layout-align="top" show-gt-md>
      <div id="map" flex="100"></div>
    </div>
  </div>
</md-content>
